SECRET_KEY=change-me
DEBUG=false
ALLOWED_HOSTS=extra.iamuhammad.uz,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://extra.iamuhammad.uz
COLLECTOR_TOKEN=change-me

POSTGRES_DB=request_body
POSTGRES_USER=request_body
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
